<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/img/icon1.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">  
            {{>header}} <br>
            <img src="img/logo.jpg">
            <br><br> Created by {{name}} <br> <br>
            <p>This is my first app!</p>
            I
            <br> <br>
        </div>

        {{>footer}}
    </body>



</html>