<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icon1.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     <div class="main-content">  
         {{>header}} <br>
    
    <h1>Sorry help page NOT found!</h1>
<br> <br>
     </div>


{{>footer}}
</body>



</html>